html{
  overflow: hidden;
}
.menu-items li{
  list-style: none;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows:   repeat(9, 1fr);  /* Set all rows to auto height */
  width: 90%;
  height: 911px;
  margin: 0 5%;
  /* cursor: all-scroll; */
}
.logo {
  grid-column: 1 / span 4;
  grid-row: 1;
  align-self: end; /* Align item to the bottom */
  justify-self: start; /* Align item to the left */
}

.quote {
  grid-column: 6 / span 5;
  grid-row: 2;
  transform: rotate(-4deg);
}

.calendar {
  grid-column: 2 / span 2;
  grid-row: 4 / span 2;
}

.title-grid {
  grid-column: 9 / span 3;
  grid-row: 3;
}

.description {
  grid-column: 9 / span 3;
  grid-row: 4 / span 2;
}

.side-menu {
  grid-column: 1;
  grid-row: 8 / span 2;
}

.arrow-keys-model {
  grid-column: 11 / span 2;
  grid-row: 7 / span 2;
  transform: rotate(-4deg);
}

.main-menu {
  grid-column: 5 / span 3;
  grid-row: 4 / span 3;
}
.highlighted {
  background-color: #ff7f0e; /* Change to your desired color */
  color: white; /* Change to your desired text color */
}
.delete-button{
  align-self: right;
  text-align: right;
}
@font-face {
  font-family: 'Big Noodle Titling';
  src: url('./fonts/big_noodle_titling.ttf') format('opentype'),
       url('./fonts/big_noodle_titling_oblique.ttf') format('opentype');
  font-weight: normal;
  font-style: oblique;
}

@font-face {
  font-family: 'Config Condensed Medium';
  src: url('./fonts/ConfigCondensedMedium.otf') format('opentype'),
       url('./fonts/ConfigCondensedMediumItalic.otf') format('opentype');
  font-weight: normal;
}

/* Font styles */
.title, .side-menu li,.description,.arrow-keys-model,.quote,.todo-item, p {
  font-family: 'Config Condensed Medium', sans-serif;
}
.main-menu li{
  cursor: pointer;

}
.title.selected, .main-menu, h1 {
  font-family: 'Big Noodle Titling', sans-serif; /* BigNoodleTitling OBLIQUE font */
  font-size: 30px;
}
.quote{
  font-size: 25px;
}
.title-grid{
  display: flex;
  justify-content: center;
  align-self: end; /* Align item to the bottom */
  font-size: 30px;

}

/* Text alignment */
.side-menu, .main-menu {
  text-align: left;
}

/* Center menu items alignment */
.main-menu {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

/* Highlighted menu item */
.main-menu .selected {
  background-color: #ff7f0e; /* Bright orange */
  color: white;
}

/* Add more styling for specific elements as needed */
.arrow-keys-model {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.key-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.key {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer; /* Add cursor pointer to indicate it's clickable */
}


/* CSS for pressed key */
.key.highlighted {
  background-color: orange;
  color: white;
}
/* Styles for the notepad */
.todo-container {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 500px; /* Adjust as needed */
  height: 80%;
}

/* Styles for the input fields */
input[type="text"],
input[type="time"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style for the back button */
#myButton {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#myButton:hover {
  background-color: #0056b3;
}
.divider{
  height: 2px;
  background-color: black;
  width: 100%;
  margin-top: -10px;
}
.todo-item {
  font-family: 'Config Condensed Medium', sans-serif;
  margin-bottom: 10px;
  position: relative; /* Ensure relative positioning */
  font-size: 15px;
  padding: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 15px;
  cursor: pointer;
  background-color: var(--Secondary-Grey-Blue);
  color: var(--Primary-Navy);

}
.todo-item:nth-child(-n+3) {
  /* Your styles here */
  background-color: var(--Secondary-Jeruk-Orange);
}
.todo-item.completed {
  text-decoration: line-through;
  background-color: brown;
  color: var(--Primary-Sky-Blue);
}

.todo-input {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.todo-item .delete-button {
  position: absolute; /* Absolute positioning for the delete button */
  top: 50%; /* Position the button in the middle vertically */
  right: 5px; /* 5px from the right edge */
  transform: translateY(-50%); /* Center the button vertically */
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
}